.mebleFilteringPanel {
  width: 1280px;
  float: left;
  clear: both;
  height: auto;
  margin: auto;
  margin-bottom: 10px;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}
.filterPanelContainer {
  width: 775px;
  height: auto;
  margin: auto;
}
.paneloption {
  margin-top: 20px;
  border-bottom: black 2px solid;
  padding-right: 15px;
  padding-bottom: 20px;
  text-align: right;
}
.filterPanelOption {
  padding-right: 15px;
  padding-bottom: 20px;
  text-align: left;
  width: 120px;
  height: 45px;
  float: left;
  margin: 10px;
}
.selectfilterPanel {
  height: 30px;
  width: 120px;
  margin-top: 15px;
  display: block;
}
.butnMebleFilter {
  height: 30px;
  width: 120px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline;
}
.btnFind {
  width: 120px;
  height: 30px;
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline;
}
