.mebleList {
  text-align: left;
  float: left;
  height: auto;
  clear: both;
  width: 1280px;
  margin: auto;
}
.mebleListTitle {
  text-align: center;
  height: 30px;
}
.goToCart {
  background-image: url("../../image/icons/iconmonstr-shopping-cart-5-64.png");
  position: relative;
  left: 1150px;
  bottom: 50px;
  height: 64px;
  width: 64px;
  margin-left: 5px;
}
.mebel {
  height: auto;
  width: 402px;
  margin: 10px;
  float: left;
  border: lightgray 2px solid;
}
.mebeltitle {
  text-align: center;
}

.mebleDescription {
  height: 170px;
  width: 188px;
  float: left;
  padding-left: 10px;
}

.mebelImg {
  float: left;
  height: 168px;
  width: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Img {
  max-width: 199px;
  max-height: 170px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
span {
  font-weight: bold;
}

.adminpanel {
  margin-top: 20px;
  border-top: lightgray 2px solid;
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.adminpanel:hover {
  border-top: black 2px solid;
}
.adminpanelbtn {
  height: 30px;
  width: 150px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.addNewMebel {
  height: 40px;
  width: 287px;

  margin-bottom: 30px;
}

.mebel:hover {
  border: black 2px solid;
}
