.AddProductPanel {
  width: 600px;
  height: auto;
  text-align: left;
}

.btnAdd {
  height: 40px;
  width: 210px;
}
.addProductinput {
  height: 30px;
  width: 200px;
}
.selectAddProduct {
  height: 40px;
  width: 210px;
  margin-left: 5px;
}

.addNewMebel {
  margin-right: 30px;
}
