.footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.842);
  color: white;
  clear: both;
}

.column {
  border-left: 2px solid white;
  border-right: 2px solid white;
  font-size: 20px;
  height: 180px;
  width: 300px;
  float: left;
}
.container {
  padding-top: 30px;
  padding-bottom: 50px;
  margin: auto;
  height: 160px;
  width: 912px;
}

.iconFb {
  background-image: url("../../image/icons/iconmonstr-facebook-3-72.png");
  float: left;
  height: 72px;
  width: 72px;
  margin: 6.5px;
}
.iconTw {
  background-image: url("../../image/icons/iconmonstr-twitter-3-72.png");
  float: left;
  height: 72px;
  width: 72px;
  margin: 6.5px;
}
.iconIn {
  background-image: url("../../image/icons/iconmonstr-instagram-13-72.png");
  float: left;
  height: 72px;
  width: 72px;
  margin: 6.5px;
}

.media {
  width: 255px;
  margin: auto;
}

.footer p {
  line-height: auto;
}
