.commentText {
  display: block;
  width: 794px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.commentNick {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 20px;
}
.btnAddComment {
  height: 30px;
  width: 200px;
  margin-bottom: 5px;
}
